*.sln
.vs/
*.vsconfig
*.code-workspace
.vscode/
*.dll
*.pdb
Plugins/
Binaries/
Intermediate/
Saved/
Build/*/FileOpenOrder
Build/*/VoiceExample.PackageVersionCounter
Build/IOS/UBTGenerated/
Build/IOS/Resources/*
!Build/IOS/Resources/Graphics/
.DS_Store
DerivedDataCache/
Makefile
