*.sln
*.slnx
.vs/
*.vsconfig
*.code-workspace
.vscode/
.idea/
*.dll
*.pdb
.ignore
Plugins/
Binaries/
Intermediate/
Saved/
Samples/
Build/*/FileOpenOrder
Build/*/VoiceExample.PackageVersionCounter
Build/IOS/UBTGenerated/
Build/IOS/Resources/*
!Build/IOS/Resources/Graphics/
Build/Android/
.DS_Store
DerivedDataCache/
Makefile
*.xcworkspace
